@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(173, 173, 78);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}
.main{
    height: 75%;
    width: 85%;
    background-color: rgb(131, 131, 32);
    display: flex;
    flex-wrap: wrap;
}
.top{
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}
.topbar{
    display: flex;
    height: 10%;
    width: 85%;
    background-color: rgb(80, 80, 8);
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    align-items: center;
}
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.param{
    height: 22px;
    width: 25px;
    background-color: white;
    color: rgb(80, 80, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px;
}
#bubble{
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: rgb(240, 240, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 4px;
} 
#bubble:hover{
    background-color: rgb(146, 146, 0);
    cursor: pointer;
}
.buttons{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.but{
    background: none;
    border: none;
}
img{
    mix-blend-mode: multiply;
    height: 35px;
    width: 35px;
}

#gameOver{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    background: url(https://i.etsystatic.com/36262552/r/il/2df83a/4849750854/il_fullxfull.4849750854_t6m0.jpg);
    background-size: 6cm;
    background-repeat: no-repeat;
    background-position-x:center ;
    background-color: rgb(255,255,255);
    visibility: none;
    display: none;
}
#finalScore{
    position: absolute;
    top: 60%;

}
#scoreNum{
    border-bottom: 2px solid black;
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}
#startImg{
    height: 55px;
    width: 55px;
}

    
